<html>
  <head></head>
  <body>

    <div class="practice-div" name="property-binding-example-1">
      <br>
      Interpolation Example 1:
      <br>
      <br>
      Interpolated text: {{title}}
    </div>
    
    <br>
    <br>
    -----------------------------------
    <br>
    <br>

    <div class="practice-div" name="property-binding-example-1">
      <br>
      Property Binding Example 1:
      <br>
      <br>
      <app-practice [donkeyOne]="donkeyTwo"></app-practice>
    </div>

    <!-- <button type="button" (click)="scream(donkeyTwo)">
      {{donkeyTwo}}
    </button> -->
  </body>
</html>